.header__bg {
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: #898982;
    height: 50px;
    display: flex;
    align-items: center;
    z-index: 3;
}
.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    margin: -7px auto;
    color: white;
}
.header__logo {
    font-size: 25px;
    font-weight: 200;

}
.header__right {
    display: flex;
    column-gap: 30px;
    align-items: center;
}
.header__menu {
    font-size: 25px;
    font-weight: 200;
}
.header__contacts {
    display: flex;
    column-gap: 10px;
}
.header__contacts_no {
    opacity: 0;
    transition: opacity 0.5s;
}
.header__contacts_yes {
    opacity: 1;
    transition: opacity 0.5s;
}