.header__bg {
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: #898982;
    height: 50px;
    display: flex;
    align-items: center;
    z-index: 3;
}
.header-main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1280px;
    margin: -7px auto;
}
.header__logo {
    padding-left: 5px;
    font-size: 25px;
    font-weight: 200;
    color: white;
}
.header__right {
    display: flex;
    column-gap: 10px;
    align-items: center;
}
.header__contacts {
    display: flex;
    column-gap: 10px;
}