.fb-form__main {
    max-width: 600px;
    margin: 32px auto;
    background-color: #fafafa;
    border-radius: 5px;
    box-shadow: 0 2px 8px #0001;
    padding: 24px;
}
.fb-form__title {
    background-color: #e7edfa;
    padding: 10px 16px;
    border-radius: 5px 5px 0 0;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;
}
.fb-form__item {
    margin-bottom: 12px;
}
.fb-form__label {
    font-weight: 200;
}
.fb-form__value {
    width: 100%;
    margin-top: 6px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
}
.fb-form__error {
    color: #b00;
}
.fb-form__button {
    background-color: #e7edfa;
    color: #222;
    padding: 8px 26px;
    border-radius: 5px;
    border: none;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
}

