.main-photo__container {
    position: relative;
    max-width: 511px;
    max-height: 700px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url("/images/photo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right bottom;
}
.main-photo {
    object-fit: contain;
    display: block;
}